.about {
  font-size: 1.6rem;

  @extend %section;
  @extend %glass-container;

  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 2rem;

  @include respond(xs) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include respond(xs) {
      text-align: center;
    }
  }

  &__title {
    line-height: 1;
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  &__image {
    height: 35rem;

    img {
      height: 100%;
    }
  }
}
