*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @include respond(xl) {
    font-size: 56.25%; // 1rem = 9px
  }
  @include respond(l) {
    font-size: 50%; // 1rem = 8px
  }
  @include respond(xxxs) {
    font-size: 45%; // 1rem = 7.2px
  }

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  font-weight: 400;
  line-height: 1.5;
  padding: 8.5rem 0 26rem;
  color: var(--color-grey-dark-1);
  font-family: var(--font-primary);

  @extend %bg-main;

  min-height: 100vh;
  text-rendering: optimizeSpeed;

  display: grid;
  grid-template-rows: max-content;

  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] minmax(min-content, 110rem)
    [center-end] minmax(6rem, 1fr)
    [full-end];

  @include respond(l) {
    grid-template-columns:
      [full-start] minmax(2rem, 1fr)
      [center-start] minmax(min-content, 110rem)
      [center-end] minmax(2rem, 1fr)
      [full-end];
  }
  @include respond(xs) {
    padding-top: 9rem;
  }
  @include respond(xxs) {
    padding: 9rem 0 17.2rem;

    grid-template-columns:
      [full-start] 1fr
      [center-start] minmax(min-content, 110rem)
      [center-end] 1fr
      [full-end];
  }

  &::-webkit-scrollbar {
    width: 1.2rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: var(--color-grey-light-3);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

#app {
  grid-column: center-start / center-end;

  position: relative;
  border-radius: 2rem;
  padding: 9rem 5rem 5rem;
  box-shadow: var(--shadow-large);
  background: var(--color-background-primary);

  @include respond(s) {
    padding: 8rem 3rem 3rem;
  }
  @include respond(xs) {
    padding-top: 10.3rem;
  }
  @include respond(xxs) {
    padding: 9.3rem 0 3rem;
    border-radius: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
