@font-face {
  font-family: 'Poppins';
  font-weight: 200;
  font-style: normal;
  font-display: auto;
  src: local('Poppins-ExtraLight'),
    url('@/assets/fonts/poppins-v15-latin-200.woff2') format('woff2'),
    url('@/assets/fonts/poppins-v15-latin-200.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src: local('Poppins-Light'),
    url('@/assets/fonts/poppins-v15-latin-300.woff2') format('woff2'),
    url('@/assets/fonts/poppins-v15-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local('Poppins-Regular'),
    url('@/assets/fonts/poppins-v15-latin-regular.woff2') format('woff2'),
    url('@/assets/fonts/poppins-v15-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: local('Poppins-Medium'),
    url('@/assets/fonts/poppins-v15-latin-500.woff2') format('woff2'),
    url('@/assets/fonts/poppins-v15-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: local('Poppins-SemiBold'),
    url('@/assets/fonts/poppins-v15-latin-600.woff2') format('woff2'),
    url('@/assets/fonts/poppins-v15-latin-600.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local('Poppins-Bold'),
    url('@/assets/fonts/poppins-v15-latin-700.woff2') format('woff2'),
    url('@/assets/fonts/poppins-v15-latin-700.woff') format('woff');
}
